<div class='modal fade' id='login'>
  <div class='modal-dialog modal-sm'>
    <div class='modal-content' id='loginModal'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>
          <span aria-hidden='true'>&times;</span>
          <span class='sr-only'>Close</span>
        </button>
        <h3>Log in</h3>
        <p>Access your account and keep producing content.</p>
      </div>
      <div class='modal-body'>
        <div class='alert alert-info Hidden' id='loginReason'></div>
        <div id='homeContainer'>
          <div class='UserLogin' id='userLogin'>
            <div id='login_alerts'></div>           
            <%= form_for(User.new, method: :post, url: sessions_path, html: { id: 'user_login' }) do |f| %>
              <div class='form-group'>
                <%= f.label 'Email' %>
                <%= f.email_field :email, class: 'form-control', placeholder: "Email", required: true  %>
              </div>
              <div class='form-group'>
                <%= f.label 'Password' %>
                <%= f.password_field :password, class: 'form-control', placeholder: "Password", required: true%>
              </div>
              <%= button_tag "Log in", class: "btn btn-primary", id: "loginButtonModal" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
