<div class='modal fade' id='post_create'>
  <div class='modal-dialog modal-sm'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>
          <span aria-hidden='true'>&times;</span>
          <span class='sr-only'>Close</span>
        </button>
        <h3>Quick draft of a package</h3>
        <p>Customize your package with text, photo, and video</p>
      </div>
      <div class='modal-body postModal' id='postModal'>
        <div id='postCreate'>
          <div class="alert alert-danger Hidden Alerts" role="alert"></div>
          <%= form_for Post.new do |u| %>
            <div class='form-group'>
                <%= u.label 'Textual Content' %>
                <%= u.text_area :description, class: 'form-control', placeholder: 'Package' %>
              </label>
            </div>
            <div class='form-group'>
              <label>
                <%= u.label 'Package Photo' %>
                <%= u.file_field :tagphoto %>
              </label>
            </div>
            <div class='form-group'>
              <label>
                <%= u.label 'Package Video' %>
                <%= u.text_field :player_embed, class: 'form-control', placeholder: 'your_link_here.com' %>
              </label>
            </div>
            <%= u.submit 'Create Draft', class: 'btn btn-primary', id: 'postCreate' %>
          <% end %>
      </div>
    </div>
  </div>
</div>
