<div class='modal fade' id='post_create'>
  <div class='modal-dialog modal-sm'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>
          <span aria-hidden='true'>&times;</span>
          <span class='sr-only'>Close</span>
        </button>
        <h3>Create a Package</h3>
        <p>Customize your package with a tag photo, description, and video</p>
      </div>
      <div class='modal-body signupModal' id='signupModal'>
        <div class='alert alert-info Hidden' id='signupReason'><!-- Rendered somewhere else, if needed --></div>
        <div id='fanSignup'>
          <div class="alert alert-danger Hidden Alerts" role="alert"></div>
          <%= form_for Post.new, method: :post do |u| %>
            <div class='form-group'>
              <label>
                <span>Description</span>
                <%= u.text_area :description, class: 'form-control', placeholder: 'Package' %>
              </label>
              <label>
                <span>Package Photo</span>
                <%= u.file_field :tagphoto %>
              </label>
              <label>
                <span>Link to video package</span>
                <%= u.text_field :player_embed, class: 'form-control', placeholder: 'http://youtube.com/your_link_here' %>
              </label>
            </div>
            <%= u.submit 'Create', class: 'btn btn-primary form-control', id: 'postCreate' %>
          <% end %>
      </div>
    </div>
  </div>
</div>
